body {
  background-color: rgb(19, 19, 19);
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.form-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}